<div id="room-legend">
<% if request.from_smartphone? %>
  <%= select_tag "room-select",
                 options_from_collection_for_select(@rooms, :id, :name_with_office, @room_id),
                 class: "form-control select",
                 onchange: "roomSelectionChanged()" %>
<% else %>
  <% @rooms.each do |room| %>
    <% if @selected_rooms.include?(room.id) %>
      <% backgrond_color = @room_colors[room.id] %>
    <% else %>
      <% backgrond_color = "#c2c4c6" %>
    <% end %>
    <span class="room" style="background-color: <%= backgrond_color %>">
      <%= check_box_tag "room#{room.id}", room.id,
                        @selected_rooms.include?(room.id),
                        onclick: "roomSelectionChanged();
                                  checkColorChanged(#{room.id},#{@room_colors[room.id].to_json})",
                        class: "room-check" %>
      <%= label_tag "room#{room.id}", room.name_with_office %>
    </span>
  <% end %>
<% end %>
</div>
<div id="calendar"></div>
